@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap");


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.majorBox{
  
  width: 100vw;
  height: 100vh;
  background-color: rgb(137, 135, 135);
  position: relative;
 
}
.Box{
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  height: 35%;
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.cardsBank{
 background-color: blueviolet;
 width: 60%;
 height: 10vw;
 position: absolute;
 z-index: 1;
 padding: 20px;
 display: flex;
 justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 270px;
}

input{
  border-radius: 6px;
  line-height: 25px;
  padding: 5px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

h1{
  margin-bottom: 10px;
  color: silver;
}

button{
  margin-top: 10px;
  display: block;
  unicode-bidi: isolate;
  text-align: center;
  border: none;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  line-height: 48px;
  padding: 0 16px;
  width: 192px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  cursor: pointer;
}
/* quando o cursor esta em cima do elemento */
button:hover{
  opacity: 0.7;
}
/* Quando o cursor vai clicar */
button:active{
  opacity: 1;
}

.Crd{
  width: 300px;
  height: 150px;
  border-radius: 20px;
  background-color: #F4F9FE;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}


.cardIcon{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}



h3{
  font-size: 20px;
  color:#000000;
  margin-bottom: 5px;
}

p{
  font-size: medium;
  color: #969696;
}

.CrdDown{
  background-color: red;
  position: absolute; 
  bottom: 10px; 
  right: 10px;
  width: 1260vw;
  height: 30vh;
 padding: 20px;
 display: flex;
 justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  
}

.BagIcon{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #FFFFFF;
  margin-bottom: 5px;

}

.xBag{
  width: 500px;
height: 200px;
border-radius: 20px;
background-color: #F4F9FE;
padding-left: 20px;
padding-right: 20px;
display:flex;
align-items: center;
gap: 10px;


}